.navbtn {
    width: 200px;
    height: 150px;
}

@media (min-width:100px) and (max-width:480px) {
    .navbtn {
        background-color: yellow;
        display: block;
    }
    body {
        width: 210px;
    }
}

@media (min-width:481px) and (max-width:1024px) {
    .navbtn {
        background-color: blue;
        display: inline-block;
    }
    body {
        width: 450px;
    }
}

@media (min-width:1025px) {
    .navbtn {
        background-color: red;
    }
    body {
        width: 900px;
        height: 160px;
    }
}